.room-container {
  justify-content: center;
  align-items: flex-start;
  display: flex;
  gap: 100px;
  padding: 100px;
  flex-wrap: wrap;
}

.video-section {
  width: 600px;
  border-radius: 10px;
  box-shadow: 10px 10px 15px #ebeee3, -10px -10px 15px #ffffff;
  margin-bottom: 1em;
}

.my-video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-video button {
  font-size: 1.5em;
  color: rgb(124, 124, 124);
  width: 40%;
  border-radius: 29px;
  border: 1px solid transparent;
  background: linear-gradient(#f1f6f6, #fdfff6);
  box-shadow: 5px 5px 10px #d2d4cc, -5px -5px 10px #ffffff;
  transition: box-shadow 0.1s linear, transform 0.1s linear;
}

.my-video button:hover {
  transform: translateY(0.02em);
  box-shadow: 2px 2px 2px #e4e6dd;
}

@media only screen and (max-width: 1400px) {
  .room-container {
    padding: 0px;
  }
  .video-section {
    width: 80vw;
    max-height: 80vh;
  }
}

@media only screen and (max-width: 600px) {
  .room-container {
    padding: 0;
    gap: 2em;
  }

  .video-section {
    max-width: 80%;
  }
}
