.psyNav {
  margin-top: -95px;
  margin-right: 60px;
}

.psyNav ul {
  padding: 0;
  list-style: none;
  z-index: 1000;
}

.psyNav ul li {
  padding: 10px 15px;
  margin-left: 30px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  color: #6d6d6d;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: 0.3s;
}
.psyNav ul li:hover,
.psyNav ul li.active {
  color: #4797ff;
  border-bottom: 2px solid #4797ff;
}

.doctorContent {
  width: 90%;
  margin: 0 auto;
}
