#logo {
  height: 100%;
  fill: none;
  animation: fill 0.5s ease forwards 2s;
}

#logo path {
  stroke: #4797ff;
  stroke-miterlimit: 10;
}

#logo path:nth-child(1) {
  /* 每個線段之間的距離 */
  stroke-dasharray: 1330px;
  /* 改變線段的位置 */
  stroke-dashoffset: 1330px;
  animation: line-animation 6s ease forwards;
}

#logo path:nth-child(2) {
  /* 每個線段之間的距離 */
  stroke-dasharray: 880px;
  /* 改變線段的位置 */
  stroke-dashoffset: 880px;
  animation: line-animation 6s ease forwards;
}

#logo path:nth-child(3) {
  /* 每個線段之間的距離 */
  stroke-dasharray: 560px;
  /* 改變線段的位置 */
  stroke-dashoffset: 560px;
  animation: line-animation 6s ease forwards;
}

/* 讓 stroke-dashoffset 變成 0 後顯示 */
@keyframes line-animation {
  to {
    stroke-dashoffset: 0;
  }
}
/* 讓填色從透明到白 */
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #4797ff;
  }
}
