// 共用 css
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
#root {
  background: linear-gradient(-5deg, #fcf3d69c, #ffa69e83, #8ab8f398);
  min-height: 100vh;
  position: relative;
}
#root::after {
  content: '';
  display: block;
  height: 315px;
}

// 變數覆蓋區
$primary: #4797ff;
$secondary: #75c5f2;

// 導入Bootstrap所有的樣式與預設變數
@import '~bootstrap/scss/bootstrap';

// 覆蓋樣式區
