.link-wrapper {
  text-decoration: none;
}

.d-card {
  position: relative;
  width: 280px;
  height: 400px;
  background: rgba(180, 180, 180, 0.452);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.507);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  overflow: hidden;
}

.d-card:hover .cardContent {
  transform: scale(1.1);
}

.d-card .cardContent {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.4s;
}

.d-card .cardContent .imgBx {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #75c5f2;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.d-card .cardContent .avatar {
  position: relative;
  width: 135px;
  height: 135px;
  background: #fff;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-card .cardContent .avatar img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.d-card .cardContent .contentBx h3 {
  color: #111;
  border-bottom: 3px dotted #75c5f2;
  padding-bottom: 10px;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 20px;
  line-height: 1.5em;
}

.d-card .cardContent .contentBx p {
  font-size: 14px;
  color: rgb(88, 88, 88);
  letter-spacing: 2px;
}
