.test {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.test p {
  /* font-size: 20px; */
  text-align: center;
  line-height: 40px;
  letter-spacing: 3px;
  margin-bottom: 40px;
}
