.hidden-dr {
  display: none;
}

@keyframes dr-pop-up {
  from {
    opacity: 0;
    transform: translate(0, 20px);
  }
  to {
    opacity: 1;
  }
}

.dr-pop-up {
  animation-name: dr-pop-up;
  animation-duration: 2s;
  animation-fill-mode: both;
}

.delay1 {
  animation-delay: 0.4s;
}
.delay2 {
  animation-delay: 0.8s;
}
.delay3 {
  animation-delay: 1.2s;
}
.delay4 {
  animation-delay: 1.6s;
}
.delay5 {
  animation-delay: 2s;
}

.form-mask-dr {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(68, 68, 68, 0.6);
  width: 100%;
  min-height: 100vh;
  z-index: 1200;
  opacity: 1;
  backdrop-filter: blur(3px);
  transition: all 2s;
  animation-name: dr-pop-up;
  animation-duration: 0.8s;
}

.dr-form-container {
  position: relative;
  animation-name: dr-pop-up;
  animation-duration: 1s;
  padding: 2em;
  border-radius: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  width: 60%;
  min-height: 80vh;
  backdrop-filter: blur(10px);

  .cross {
    position: fixed;
    font-size: 1.5em;
    left: 5%;
    top: 5%;
    cursor: pointer;
  }

  .form-photo {
    border-radius: 50%;
    background: #f1f6f6;
    box-shadow: 5px 5px 10px #bec2c2, -5px -5px 10px #ffffff;
    align-self: center;
    width: 150px;
    height: auto;
    margin: 0.5em 0;
  }

  .form {
    margin-top: -40px;
    display: flex;
    width: 60%;
    flex-direction: column;
    .form-panel {
      display: block;
      width: 100%;
      padding: 0.2em 0 0.2em 5em;
      border: transparent;
      border-radius: 8px;
      background: hsl(0, 0%, 96%);
      box-shadow: 14px 14px 23px #d7d7d7, -14px -14px 23px #ffffff;
      &:focus {
        outline: transparent;
      }
    }
    .form-label {
      position: relative;
      width: 4em;
      top: 2.35em;
      padding: 0.2em;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #75c5f2;
      color: white;
      border-radius: 8px 0 0 8px;
      z-index: 1;
    }
    textarea.form-panel {
      padding-left: 1em;
      margin-top: 2em;
      resize: none;
      &:focus {
        height: 150px;
      }
    }
    .submit {
      margin-top: 1.5em;
      border: 2px solid #4797ff;
      border-radius: 8px;
      color: white;
      font-size: 1em;
      background-color: #4797ff;
      padding: 0.1em;
    }
  }
}

@media only screen and (max-width: 1300px) {
  .dr-form-container {
    width: 90%;
  }
}
@media only screen and (max-width: 500px) {
  .dr-form-container {
    .form {
      width: 80%;
    }
    .form-photo {
      display: none;
    }
  }
}
