.D-Title {
  text-align: center;
  line-height: 40px;
  letter-spacing: 3px;
}

.D-Title h3 {
  margin: 50px 0px 40px 0px;
}

.buttons2 {
  float: left;
  margin-bottom: 5%;
}

.button2 {
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #4897fe;
  color: aliceblue;
  text-transform: uppercase;
  padding-left: 12px;
  letter-spacing: 2px;
  margin: 5px 5px;
  padding: 6px 10px;
  transition: 0.3s all;
  box-shadow: 1px 2px 5px #707070;
}

.button2:hover {
  background-color: rgba(66, 184, 248, 0);
}

.search {
  float: right;
  margin-bottom: 5%;
}

input {
  border: none;
  outline: medium;
}

.btn-search-area {
  border: none;
  border-radius: 5px;
  letter-spacing: 1.5px;
  margin: 5px 0px;
  padding: 6px 10px;
}

.btn-search {
  border: none;
  border-radius: 5px;
  background-color: #4897fe;
  color: aliceblue;
  margin: 7px 0px;
  padding: 6px 10px;
}

/* main */

.flex-wrapper2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px 0px 40px;
  text-align: center;
  clear: both;
}

@media (max-width: 540px) {
  .flex-wrapper2 {
    justify-content: center;
  }
}

.DecorsImg {
  width: 280px;
  height: 280px;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
}

.DecorsImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s all;
}

.DecorsImg:hover img {
  opacity: 0.7;
}

/* Pagination */

.pagination li a {
  border: none;
  background-color: transparent;
}

.pagination li a:hover {
  background-color: transparent;
}
