    /* .radio-font {
        color: #4797FF;
    } */
    
    .cocolor{
        color: #4797FF;
    }

    .maxwid{
        max-width: 768px;
    }
    
    .gr{
        color:gray;
    }
    
    h2 {
        text-align: center;
    }

    .del-line{
        text-decoration: none;
      }

    .toresult{
        background-color: #4797FF;
        color: white;
        border-radius: 7px;
        border: none;
        width: 85px;
    }


    .carousel-control-prev-icon,
    .carousel-control-next-icon {
    /* height: 100px;
    width: 100px; */
    background-size: 100%, 100%;
    background-image: none;


    }

    .card-box{
        height: 350px;
            margin: 0 50px;
    }

    /* .carousel-control-next-icon:after
    {
    content: '>';
    font-size: 55px;
    color: #4797FF;
    }

    .carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: #4797FF;
    }
        
    .carousel-control-prev,
    .carousel-control-prev-icon{
            left: 50px;
    margin-left: 50px;
        }

    .carousel-control-next,
    .carousel-control-next-icon{
            right: 50px;
    margin-right: 50px;
        } */
    
    
    .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%234797FF' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    }
    
    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%234797FF' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
    }

    .carousel-indicators button {
        display:none;
        
    }
    

    
    

    