.cocolor {
  color: #4797ff;
}

.gr {
  color: gray;
}
.black {
  color: black;
}

.lastcloud {
  width: 100px;
  height: 100px;
}

.maxwid {
  max-width: 768px;
}
.test-block {
  height: 350px;
  margin: 0 50px;
}
.moredetail {
  position: absolute;
}

.more {
  background-color: #4797ff;
  color: white;
  border-radius: 7px;
  border: none;
  width: 70px;
  font-size: small;
  padding: 1px 6px;
}
.del-line {
  text-decoration: none;
}

.outermost {
  border-radius: 15px !important ;
}
.belarge:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.beshadow {
  height: 200px;
}
/* 不確定 */
.beshadow:hover {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

/* .swiper-slide {
  height: 280px;
} */

.location {
  position: relative;
}

.person-img {
  border: 3px solid #5ed5e6;
  width: 100px;
  height: 100px;
  /* background-size: cover;
  background-position: center;
  background-image: url('https://images.chinatimes.com/newsphoto/2019-04-22/656/20190422001723.jpg'); */
  overflow: hidden;
  border-radius: 100px;
}

.person-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profession {
  display: block;
  font-size: 12px;
}
.person-line {
  border-bottom: 2px dashed #c7f0fd;
}

.object-img {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  position: relative;
  right: 0;
  top: 15px;
  /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkMqbYN1AAcd6tDYINKuT_tnY4rXG85ISOCA&usqp=CAU') */
}

.object-price {
  position: absolute;
  right: 10px;
  top: 0;
  color: #4797ff;
}
.quantity {
  display: block;
  font-size: 12px;
}

.m-top {
  margin-top: 0px;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.App .recharts-wrapper svg {
  margin-left: -100px;
}

.App .recharts-legend-wrapper {
  padding-left: 70px;
}

.card-container {
  height: 350px;
  margin: 0 20px;
  width: 600px;
  position: relative;
  perspective: 1000px;
}

.result-card {
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.cover {
  transform: rotateY(0deg);
  /* background-color: blue; */
}
.back {
  transform: rotateY(-180deg);
  /* background-color: red; */
}

.logoBox {
  margin: 60px auto 0;
}

.logoBox .logo #logo {
  width: 350px;
}

.cover,
.back {
  height: 100%;
  width: 100%;
  margin: 0 50px;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.25s ease-in-out;
}
.card-container:hover .cover {
  transform: rotateY(180deg);
}
.card-container:hover .back {
  transform: rotateY(0deg);
}

.ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

@media screen and (min-width: 768px) {
  .moredetail {
    position: absolute;
    right: 0;
    top: 5px;
  }
  .m-top {
    margin-top: 45px;
  }
}
